<h1>Lost Password</h1>

<%= form_for(@user, :url => update_lost_password_users_path) do |f| %>

  <div class="field">
    <%= f.label :k_number, :label => "To reset your password, please type your K Number"%><br />
    <%= f.text_field :k_number %>
  </div>
  <div class="actions">
    <%= f.submit "Reset password" %>
  </div>
<% end %>

<p><%= link_to 'Back to the Login Page', users_path %></p>