<h1>Register a New User</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :k_number %><br />
    <%= f.text_field :k_number %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
    <div class="field">
      <%= f.label :assign_to_team %><br />
      <%= f.text_field :assign_to_team %>
    </div>
    <div class="field">
    <%= f.label :new_password, "Password" %><br />
    <%= f.password_field :new_password %>
  </div>
  <div class="field">
    <%= f.label :new_password_confirmation, "Password confirmation" %><br />
    <%= f.password_field :new_password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p><%= link_to 'Back to the Login Page', users_path %></p>
